services:
  api:
    build: ./api
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./api:/app
      - /app/node_modules
    command: npm run dev

  frontend:
    image: nginx:alpine
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    ports:
      - "8080:80"

  evil-frontend:
    image: nginx:alpine
    volumes:
      - ./evil-frontend:/usr/share/nginx/html:ro
    ports:
      - "9000:80"
